@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

 
 /* selector {
    property:value;
 } */

 /* * universal, tagname, .classname, #id */

 /* colors, font, margin & padding this are written universally */

 /* color: red; */
 /*solid color (red, green, yellow), hex code (starts with # followed 4 - 6 char range 0-9 a-f), rgb(red,green,blue) range 0-255, rgba() */

 .first {
    /* color: #EB3678; */
    color: rgba(255, 0, 0, 0.5);
    /* color property is for content */
    /* rgb(24, 1, 97)
    rgb(235, 54, 120)
    cny */
    /* rgba(0,0,0,0-1) */
    background-color: rgba(255, 0, 255,0.5);
    /* background-color property is for background */
    font-family: "Silkscreen", sans-serif;

 }

 body {
    color: white;
    background-color: black;
 }

 /* font */